%clickables {
  color: $light;
  font-size: 1.2rem;
  background: $dark;
  border: none;
  cursor: pointer;
  padding: 0.1rem 0.1rem;
  margin-top: 0.1rem;

  &:hover {
    background-color: $alert;
  }
}
.link {
  @extend %clickables;
  text-decoration: none;
}
.button {
  @extend %clickables;
}
// .toggle {
//   position: relative;
//   display: inline-block;
//   .toggle input {
//     width: 0;
//     height: 0;
//     opacity: 0;
//   }
//   .slider {
//     display: flex;
//     width: 50px;
//     height: 25px;
//     border-radius: 100px;
//     background-color: $dark;
//     transition: background-color 0.2s;
//   }
// }
