// $mid: #fcba;
$alert: #ff8700;
$error: #e63946;

$prim: lightgoldenrodyellow;
$second: #293241;

// @mixin colorswitch {
// }

// $themes: (
//   light: (
//     $prim: lightgoldenrodyellow,
//     $second: #293241,
//   ),
//   darko: (
//     $second: lightgoldenrodyellow,
//     $prim: #293241,
//   ),
// );
