@function borderColors($color) {
  @if (darkness($color) >70) {
    @return $prim;
  } @else {
    @return $second;
  }
}

@mixin flexRow {
  display: flex;
  flex-direction: row;
}
@mixin flexCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@mixin kontenjer {
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
