// @function color($color, $mod: null) {
//   @if ($mod) {
//     @return $alert;
//   } @else {
//     @return $error;
//   }
// }

@mixin whenDark {
  html.dark & {
    @content;
  }

  @media (prefers-color-scheme: dark) {
    & {
      @content;
    }
  }
}
@mixin flexRow {
  display: flex;
  flex-direction: row;
}
@mixin flexCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@mixin kontenjer {
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
