@import "./fonts";
@import "./colors";
// @import "./mixins";
@import "./clickables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  body {
    justify-content: center;
    align-items: center;
  }

  .app {
    background-color: $light;
    font-family: $font-stack;
    line-height: 1;
  }

  .header {
    display: flex;
    background-color: $light;
  }
  .instruction {
    margin-left: 1rem;
  }
  .nav {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-evenly;
    align-items: center;
  }
  //
}

// form
.form-container {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;

  .instruction {
    margin-right: 2rem;
    font-size: 20px;
  }
  .inputCity {
    display: inline-block;
    padding: 1rem;
    font-size: 20px;
    border-bottom: 2;
    width: 30%;
    height: 1rem;
    margin: 1rem;
  }
}

//cards
.list-container {
  margin-left: 1rem;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 5px;
  row-gap: 5px;
}

.cards {
  display: flex;
  // background-color: $dark;
}

.card {
  cursor: pointer;
  background-color: $light;
  height: 20vh;
  width: 16vw;
  border: 1px $dark solid;

  .ulist {
    list-style-type: none;
  }
  .command {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px $dark solid;
    padding: 0.2rem;
    margin-bottom: 0.1rem;
  }
  .h1 {
    color: $dark;
    font-size: 1rem;
  }
}

//login

.login-container {
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 12px;
    color: $text;
  }

  label,
  input {
    color: $text;
  }

  label {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }

  input {
    // border: 2px solid rgba($dark, 0.8);
    padding: 0.5rem 1rem;
    padding-left: 1rem;
    font-size: 1rem;
  }

  .form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }

  .input-error {
    border-color: $error;
  }

  .error {
    color: $error;
    font-size: 1rem;
    margin-top: 0.3rem;
  }

  .disabled-btn {
    cursor: not-allowed;
    // display: none;
    background-color: $light;
  }
}

//logout

.logout-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 1rem;
}
