@import "./fonts";
@import "./colors";
@import "./mixin";
@import "./clickables";
@import "./toggle.scss";

html {
  background: $prim;
  color: $second;
}

// //
html.dark {
  background: $second;
  color: $prim;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  .app {
    font-family: $font-stack;
    line-height: 1;
    display: grid;
  }

  .header {
    display: flex;
    justify-content: space-between;
    // background-color: $alert;
    width: inherit;
    max-width: inherit;
  }
  .instruction {
    margin-left: 1rem;
  }
  .nav {
    @include flexRow;
    padding: 1rem;
    justify-content: space-evenly;
    align-items: center;
  }
  //
}
//toggle
.toggle-container {
  @include kontenjer;
}
// form
.form-container {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;

  .instruction {
    margin-right: 1rem;
    font-size: 1.4rem;
  }
  .inputCity {
    display: flex;
    padding: 1rem;
    font-size: 12px;
    // border-bottom: 2;
    width: 30%;
    height: 1rem;
    margin: 1rem;
  }
}

//cards
.list-container {
  margin-left: 1rem;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1rem, 35vh;
  column-gap: 5px;
  row-gap: 5px;
}
.alert {
  grid-column: 1/-1;
  display: flex;
  color: $alert;
  .error {
    @include error;
  }
}

.cards {
  display: flex;
}

.card {
  height: 30vh;
  width: 16vw;
  border: 1px solid;

  .ulist {
    margin-top: 1rem;
    @include flexCenter;
    list-style-type: none;
    .li {
      text-decoration: none;
    }
  }
  .command {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid;
    padding: 0.2rem;
    margin-bottom: 0.1rem;
  }
  .h1 {
    font-size: 1rem;
    cursor: pointer;
  }
}

//login

.login-container {
  @include kontenjer;

  h1 {
    font-size: 12px;
    color: $prim;
  }

  label,
  input {
    color: $second;
  }

  label {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }

  input {
    // border: 2px solid rgba($dark, 0.8);
    padding: 0.5rem 1rem;
    padding-left: 1rem;
    font-size: 1rem;
  }

  .form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
  }

  .input-error {
    border-color: $error;
  }

  .error {
    @include error;
  }

  .disabled-btn {
    cursor: pointer;
  }
}

//logout

.logout-container {
  @include kontenjer;
  .button {
    size: 1rem;
  }

  cursor: default;
}

//table
table,
th,
td {
  margin-left: 5rem;
  border: 1px solid;
  width: 50%;
  td {
    padding: 0.2rem;
  }
}

.footer {
  @include kontenjer;
  margin-top: 1rem;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
  font-size: 1.4rem;
  width: 100%;
  max-width: inherit;
  .link {
    text-decoration: none !important;
  }
}
.logo {
  @include flexRow;
  width: 150px;
  height: 75px;
  margin-top: 1rem;
}
